* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  font-family: 'Inter', sans-serif;
}

/*utilities*/

.bg-principal {
  background-color: #00B1A9;
}

.color-principal {
  color: #00B1A9;
}

.border-principal {
  border: 1px solid #00B1A9 !important;
}

.border-solid {
  border: 5px solid #00B1A9;
}

.banner-height {
  max-height: 400px;
}

.boton {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.boton:hover {
  filter: brightness(90%);
}

.btn-rounded {
  border-radius: 20px;
}

.mt-10 {
  margin-top: 100px;
}

.h-400 {
  height: 400px;
}

.align-self-end {
  align-self: flex-end;
}

.shape-container{
  width: 180px;
  height: 200px;
}

.hexagon {
  width: 100%;
  height: 100%;
  background-color: #C4C4C4;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.text-container{
  width: calc(98% - 250px);
}


.popup-box{
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-box > *{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.ocultar{
  display: none;
}

.btn-cerrar{
  border: 0;
  background-color: rgba(0, 0, 0, 0.0);
  width: 20px;
  height: 20px;

}

.hide-arrows::-webkit-inner-spin-button,
.hide-arrows::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 576px) {
  .w-little {
    width: 100%;
  }

  .border-little {
    border-radius: 0px;
  }
}

@media (max-width: 480px){
  .shape-container{
  width: 135px;
  height: 150px;
}}

/*Navbar*/
.bg-white{
  background-color: #FFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.mg-left{
  margin-left: 2.5rem;
}

.txt-cat{
  text-decoration: none !important;
  font-family: Inter !important;
  font-style: normal !important; 
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 20px !important;
  color: black !important;
}

.txt-log-nav{
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #7D7D7D;
}

.txt-nav{
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.bg-nav{
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding: 0.5rem;
}

.boton-dropdown{
  background-color: #FFFF !important;
  border: none !important;
}

.direc{
  padding-top: 0.5rem;
}


.text-container{
  width: calc(98% - 180px);
}




/* clubpage */

.saly7 {
  top: -80px;
}
