* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  font-family: 'Inter', sans-serif;
}

/*utilities*/

.bg-principal {
  background-color: #00B1A9;
}

.color-principal {
  color: #00B1A9;
}

.border-principal {
  border: 1px solid #00B1A9 !important;
}

.border-solid {
  border: 5px solid #00B1A9;
}

.banner-height {
  max-height: 400px;
}

.boton {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.boton:hover {
  filter: brightness(90%);
}

.btn-rounded {
  border-radius: 20px;
}

.mt-10 {
  margin-top: 100px;
}

.h-400 {
  height: 400px;
}

.align-self-end {
  align-self: flex-end;
}

@media (max-width: 576px) {
  .w-little {
    width: 100%;
  }

  .border-little {
    border-radius: 0px;
  }
}


/* clubpage */

.saly7 {
  top: -80px;
}